<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="loginBox">
                <form action="/authenticate" method="POST">
                    <h4 class="loginTitle">Login</h4>
                    <div class="inputs">
                        <input type="text" placeholder="Usuário">
                    </div>
                    <div class="inputs">
                        <input type="password" placeholder="Senha">
                    </div>
                    <button type="submit" class="submitBtn">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>